{% extends "index.html" %}
{% block title %}Update{% endblock %}
{% block body %}


{% for message in messages %}            
  <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% endif %} alert-dismissible fade show" role="alert">
    <strong>
      {% if message.tags == 'success' %}Success:{% elif message.tags == 'error' %}Error:{% elif message.tags == 'warning' %}Warning:{% endif %}
    </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
<h1>Update Password</h1>


<div class="container">

    <form action="update" method="post">
        {% csrf_token %}
        <label for="name">Username:</label>
        <input type="text" name="name" required>
        <label for="loginpassword">New Password:</label>
        <input type="password" name="loginpassword" required>
        <label for="loginpassword1">Confirm New Password:</label>
        <input type="password" name="loginpassword1" required>
        <button type="submit">Update Password</button>
    </form>
    


</div>

{% endblock %}